<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<div th:replace="fragments/navwithsigninonly :: nav"></div>
<h1>Home Page </h1>
<!--Have all the posts show up here on the home html page with the name of users and button to follow them -->
<!--<section th:each="posting:${user.posts}" >-->
<!--    <p th:text="${posting.getBody()}"></p>-->
<!--    <p th:text="${posting.getCreatedAt()}"></p>-->
<!--    <h3 th:text=""></h3>-->

<!--</section>-->
</body>
</html>