<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>Home</title>
</head>
<body class="p-3 mb-2 bg-info text-white">
<div th:replace="fragments/nav :: nav"></div>
<br>
<br>
<br>
<br>
<h1>Home Page </h1>
<p> Pleae review the posts from all our users. If you would like to join this app, then click signup.  If you are a returning member, then login and then review your profile to add posts.  You can also click on different users and then follown them.  You can also review all the posts by users that you follow</p>
<!--Have all the posts show up here on the home html page with the name of users and button to follow them -->
<div th:if="${allUsers}">
<section th:each="eachUser:${allUsers}" >
    <a th:href="'/user/' + ${eachUser.getId()}"><h3 th:text="'By: ' + ${eachUser.getUsername()}"></h3></a>
    <div th:each="posting:${eachUser.getPosts()}">
    <p th:text="${posting.getBody()}?:'No text'"></p>
    <p th:if="${posting}" th:text="${posting.getCreatedAt()}"></p>
    </div>
</section>
</div>
</body>
</html>