<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
<h1>Home Page </h1>
<!--Have all the posts show up here on the home html page with the name of users and button to follow them -->
<div th:if="${allUsers}">
<section th:each="eachUser:${allUsers}" >
    <a th:href="'/user/' + ${eachUser.getId()}"><h3 th:text="'By: ' + ${eachUser.getUsername()}"></h3></a>
    <div th:each="posting:${eachUser.getPosts()}">
    <p th:text="${posting.getBody()}?:'No text'"></p>
    <p th:if="${posting}" th:text="${posting.getCreatedAt()}"></p>
    </div>
</section>
</div>
</body>
</html>