<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Detail Page</title>
</head>

<div th:replace="fragments/nav :: nav"></div>
<header th:replace="fragments/header :: header"></header>

<img src="/images/gnome.jpg" alt="Gnome" th:width="200px"/>
<br>
<h1>My profile:</h1>
<h2 th:if="${user}" th:text="${user.username}"></h2>
<h1 th:if="${userDoesNotExist}" th:text="User Does Not Exist"> </h1>
<p th:if="${user}" th:text = "${user.firstName}"></p>
<p th:if="${user}" th:text = "${user.lastName}"></p>
<p th:if="${user}" th:text = "${user.bio}"></p>
<p th:if="${user}" th:text = "${user.email}"></p>

<form action="/savePost" method="POST">
    Body: <input type="text" name="body">
    <input type="hidden" name="id" th:value="${user.id}">
    <input type="submit">
</form>
<section th:each="posting:${user.posts}" >
    <p th:text="${posting.getBody()}"></p>
    <p th:text="${posting.getCreatedAt()}"></p>

</section>

</body>
</html>