<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Detail Page</title>
</head>
<div th:replace="fragments/nav :: nav"></div>

<img>
<h1 th:if="${user}" th:text="${user.username}"></h1>
<p th:if="${user}" th:text = "${user.firstName}"></p>
<p th:if="${user}" th:text = "${user.lastName}"></p>
<p th:if="${user}" th:text = "${user.bio}"></p>
<p th:if="${user}" th:text = "${user.email}"></p>

</body>
</html>