<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Detail Page</title>
</head>

<div th:replace="fragments/nav :: nav"></div>
<header th:replace="fragments/header :: header"></header>

<!--user details-->
<img src="/images/gnome.jpg" alt="Gnome" th:width="200px"/>
<h1 th:if="${user}" th:text="${user.username}"></h1>
<h1 th:if="${userDoesNotExist}" th:text="User Does Not Exist"> </h1>
<p th:if="${user}" th:text = "${user.firstName}"></p>
<p th:if="${user}" th:text = "${user.lastName}"></p>
<p th:if="${user}" th:text = "${user.bio}"></p>
<p th:if="${user}" th:text = "${user.email}"></p>

<!--view all postings by this user-->
<section th:each="posting:${user.posts}" >
    <p th:text="${posting.getBody()}"></p>
    <p th:text="${posting.getCreatedAt()}"></p>

</section>

<!--here they can follow the user different from the signed in user-->
    <section th:if="${user.username != currentuser}">
        <div th:if="${iDoNotFollowThisUser}">
            <p th:text="'I Follow this User'"></p>
            <form action="/unfollow" method="POST">
                <input type="hidden" th:value="${user.username}" name="username">
                <input type="submit" value="UnFollow">
            </form>
        </div>
        <div th:unless="${iDoNotFollowThisUser}">
            <form action="/followUser" method="POST">
            <input type="hidden" th:value="${user.username}" name="username">
            <input type="submit" value="Follow">
            </form>
        </div>
    </section>

</body>
</html>